<div>

  <div class="margin-bottom-sm">
    <button class="btn btn-success " ng-click="vm.enterMe()" ng-if="!vm.hasEntered()" ng-disabled="vm.isActiveRace()">
      Anmäl mig
    </button>
    <button class="btn btn-danger" ng-click="vm.removeMe()" ng-if="vm.hasEntered()">
      Fega ur
    </button>
  </div>

  <table class="table">
    <tr>
      <th class="user-queue-item">Namn</th>
      <th class="user-queue-item">Id</th>
    </tr>
    <tr ng-repeat="racer in vm.enteredRacers">
      <td class="user-queue-item">{{racer.displayName}}</td>
      <td class="user-queue-item">{{racer.userId}}</td>
    </tr>
  </table>
</div>