@import "../../vendor/bootstrap/less/variables";
@import "./variables";

@font-face {
  font-family: "Starwars";
  src: url(../../fonts/starwars.ttf) format("truetype");
}

* {
  font-family: "Starwars", Arial, sans-serif;
}

html {
  height: 100%;
}
body {
  height: 100%;
  background: url(../../img/ui/stars.jpg);
  //border: red solid 2px;
}

.site-footer {
  background: url(../../img/ui/bb8.png) no-repeat center bottom 20px;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  height: 300px;
  width: 100%;
  //border: green solid 2px;
}

a {
  cursor: pointer;
}

input {
  font-family:"Lucida Console", Monaco, monospace;
}

.dn-timepicker-popup {
  max-height: 300px;
  overflow-y: scroll;
}

.margin-bottom-sm {
  margin-bottom: @margin-sm;
}

.margin-top-sm {
  margin-top: @margin-sm;
}

.margin-left-sm {
  margin-left: @margin-sm;
}

.margin-right-sm {
  margin-right: @margin-sm;
}

.danger {
  color: @state-danger-text
}
