<div class="container-fluid">
  <h2 class="page-header"><i class="fa fa-dashboard"></i> Systemstatus </h2>
  <div class="row">
    <div class="col-xl-3 col-lg-6 margin-bottom-sm">
      <button *ngIf="raceCancelledSucessfully !== true" (click)="abortCurrentRace()" class="btn btn-danger">
        <i class="fa fa-ban"></i> Avbryt aktuellt lopp
      </button>
      <p *ngIf="raceCancelledSucessfully === true" class="alert alert-success">Loppet är avbrutet!</p>
    </div>
  </div>
  <div class="row">
    <div *ngFor="let backendService of backendServices" class="col-xl-3 col-lg-6">
      <div class="card card-inverse"
           [ngClass]="{'card-danger':backendService.alive !== true, 'card-success':backendService.alive === true}">
        <div class="card-header"
             [ngClass]="{'card-danger':backendService.alive !== true, 'card-success':backendService.alive === true}">
          <div class="row">
            <div class="col-xs-3">
              <i *ngIf="backendService.alive === true" class="fa fa-thumbs-up fa-5x"></i>
              <i *ngIf="backendService.alive !== true" class="fa fa-exclamation-triangle fa-5x"></i>
            </div>
            <div class="col-xs-9 text-xs-right">
              <div>{{backendService.name}}</div>
            </div>
          </div>
        </div>
        <div class="card-footer card-default">
          <a href="javascript:;">
            <span class="pull-xs-left">View Details</span>
            <span class="pull-xs-right"><i class="fa fa-arrow-circle-right"></i></span>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">-->
  <!--&lt;!&ndash; /.col-lg-8 &ndash;&gt;-->
  <!--<div class="col-lg-12 col-xlg-12">-->
  <!--<div class="card card-default">-->
  <!--<div class="card-header">-->
  <!--<i class="fa fa-bell fa-fw"></i> Notifications card-->
  <!--</div>-->
  <!--&lt;!&ndash; /.card-header &ndash;&gt;-->
  <!--<notifications-cmp></notifications-cmp>-->
  <!--&lt;!&ndash; /.card-body &ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash; /.card &ndash;&gt;-->

  <!--</div>-->
  <!--&lt;!&ndash; /.col-lg-4 &ndash;&gt;-->
  <!--</div>-->

</div>
