@import "~bootstrap/scss/_variables.scss";
@import "_app-base.scss";
@import "./variables";

@font-face {
  font-family: ussrArmy;
  src: url('./font/marsh-stencil-regular.otf')
}

body {
  font-family: $header-font;
  background: $standard-background-light;
}

.alert-danger {
  color: #ffe6e6;
  background: #b30000;
}
