@import "~bootstrap/less/bootstrap";

@font-face {
  font-family: ussrArmy;
  src: url('../font/army-font.ttf')
}

body {
  font-family: ussrArmy;
  background: #C6C5A5;
  font-size: large;
}

.overview {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace
}