<md-toolbar color="primary">
  <button class="app-icon-button" (click)="sidenav.toggle()">
    <i class="material-icons app-toolbar-menu">menu</i>
  </button>

  <span style="margin: 6px 6px 6px 6px;">CAG RMS - Admin</span>

  <span class="app-toolbar-filler"></span>
</md-toolbar>

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav" opened="rue">
    <button md-button routerLink="/main" routerLinkActive="active">Hem</button><br>
    <button md-button routerLink="/users" routerLinkActive="active">Användare</button><br>
    <button md-button routerLink="/races" routerLinkActive="active">Lopp</button><br>
    <button md-button routerLink="/services" routerLinkActive="active">Tjänster</button><br>
    <button md-button routerLink="/dev-lab" routerLinkActive="active">Labbet</button><br>
  </md-sidenav>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>
