<div class="row">
  <div style="text-align: center; padding: 20px;">
    <h1 ng-if="isRaceActive">Lopp pågår</h1>
    <h2 ng-if="!isRaceActive">Inget lopp pågår</h2>
  </div>
</div>

<div class="row">
  <div style="text-align: center; padding: 20px;">
    <div ng-switch="raceEvent">
      <h2 ng-switch-when="DISQUALIFIED">
        Sucker! diskad!
      </h2>
      <h3 ng-switch-when="NONE">
        Väntar på start...
      </h3>
      <h3 ng-switch-when="START">
        Loppet har startat!
      </h3>
      <h3 ng-switch-when="SPLIT">
        Mellanstation passerad!
      </h3>
      <h2 ng-switch-when="FINISH">
        Målstation passerad!
      </h2>
      <div ng-switch-default></div>
    </div>
  </div>
</div>
<div>
  <div class="row">
    <div class="col-xs-6"><span class="pull-right">Tävlande</span></div>
    <div class="col-xs-6">
      <span ng-if="username">{{username}}</span>
      <span ng-if="!username">----</span>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6"><span class="pull-right">
      <span ng-if="!finishTime">Tid</span>
      <span ng-if="finishTime">Sluttid</span>
    </span></div>
    <div class="col-xs-6">
      <div ng-if="runningTime && !finishTime">
        {{runningTime | date:'HH:mm:ss.sss'}}
      </div>
      <div ng-if="finishTime">
        {{finishTime | date:'HH:mm:ss.sss'}}
      </div>
      <div ng-if="!runningTime && !finishTime">--:--.---</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6"><span class="pull-right">Mellantid</span></div>
    <div class="col-xs-6">
      <div ng-if="splitTime">
        {{splitTime | date:'HH:mm:ss.sss'}}
      </div>
      <div ng-if="!splitTime">--:--.---</div>
    </div>
  </div>
</div>
