<div>

  <div class="margin-bottom-sm">
    <button class="btn btn-success " ng-click="vm.enterMe()" ng-if="!vm.hasEntered()" ng-disabled="vm.isActiveRace()">
      Anmäl mig
    </button>
    <button class="btn btn-danger" ng-click="vm.removeMe()" ng-if="vm.hasEntered()">
      Fega ur
    </button>
  </div>

  <h1 ng-if="vm.enteredRacers.length === 0" class="alert alert-dismissible alert-info">
    Kön är tom!
  </h1>

  <table ng-if="vm.enteredRacers.length > 0" class="table user-queue">
    <tr>
      <th>Namn</th>
      <th>Id</th>
    </tr>
    <tr ng-repeat="racer in vm.enteredRacers">
      <td>{{racer.displayName}}</td>
      <td>{{racer.userId}}</td>
    </tr>
  </table>
</div>